.Share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.sharewrapper{
    padding: 10px;
}

.shareTop{
    display: flex;
    align-items: center;
}
.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    border: none;
    width: 80%;
}

.shareInput:focus{
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px; /*this will start the margin from where shareHr starts*/
}

.shareOption{
    display: flex;
    align-items: center;
    margin: 15px;
    border-radius: 25px;
    padding: 5px;
}

.shareIcon{
    font-style: 18px;
    margin-right: 3px;
}

.shareOption:hover{
    background-color: lightgrey;
    cursor: pointer;
}